<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
    <% include partials/nav.ejs %>
 <h1>contact ejs</h1>

 <img src="img/comingsoon.jpg" alt="coomingsoon img">
<h2>success!</h2>
<p>you contactded <%= data.who %> in the <%= data.department %> department.</p>
<p>we will replay you at <%= data.email %></p>
  </body>
</html>
