<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>profile ejs view page</h1>
    <h2>Welcome <%= person %></h2>
    <h3>Age <%= data.age %></h3>
    <h4>job  <%= data.job %></h4>
    <ul>
      <% data.hobbies.forEach(function(item){%>
        <li><%= item %></li>

    <%  });  %>
    </ul>
  </body>
</html>
